rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /transaction/{transactionId} {
      allow read: if request.auth != null && request.auth.token.email_verified && request.auth.token.approved && request.auth.uid == resource.data.createdBy;
    }

    match /transaction/{transactionId} {
      allow create: if request.auth != null && request.auth.token.email_verified && request.auth.token.approved && request.auth.uid == request.resource.data.createdBy;
    }

    match /paymentInstrument/{paymentInstrumentId} {
      allow read: if request.auth != null && request.auth.token.email_verified && request.auth.token.approved && request.auth.uid == resource.data.createdBy;
    }

    match /paymentInstrument/{paymentInstrumentId} {
      allow create: if request.auth != null && request.auth.token.email_verified && request.auth.token.approved && request.auth.uid == request.resource.data.createdBy;
    }

    match /category/{categoryId} {
      allow read: if request.auth != null && request.auth.token.email_verified && request.auth.token.approved;
    }
  }
}